/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #dfe9f5;
}

.container {
  display: flex;
}

nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 150vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.nav-calendar {
  position: relative;
  top: 0;
  bottom: 0;
  height: 150vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover {
  background: #eee;
}

.logout {
  position: absolute;
  bottom: 0;
}

/* Main Section */
.main {
    position: relative;
    padding: 20px;
    width: 100%;
    overflow-x: hidden; /* Adicionei isso para esconder a rolagem horizontal */
  }

.main-top {
  display: flex;
  width: 100%;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.main-skills {
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap; /* Impede que os itens quebrem a linha */
    overflow-x: auto; /* Adiciona rolagem horizontal se os cartões não couberem no contêiner */
  }

  .main-skills .card {
    width: 150px; /* Reduzi o tamanho dos cards */
    height: 250px ;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

.main-skills .card h3 {
  margin: 10px;
  text-transform: capitalize;
}

.main-skills .card p {
  font-size: 12px;
}

.main-skills .card button {
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.main-skills .card button:hover {
  background: rgba(223, 70, 15, 0.856);
}

.main-skills .card i {
  font-size: 22px;
  padding: 10px;
}

/* Courses */
.main-course {
  margin-top: 20px;
  text-transform: capitalize;
}

.course-box {
  margin: 0 auto;
  padding: 20px; /* Adicione algum preenchimento interno para separar o formulário das bordas */
  border: 1px solid #ddd; /* Adicione uma borda para uma melhor visualização */
  width: 100%;
  height: 650px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul {
  list-style: none;
  display: flex;
}

.course-box ul li {
  margin: 10px;
  color: gray;
  cursor: pointer;
}

.course-box ul .active {
  color: #000;
  border-bottom: 1px solid #000;
}

.course-box .course {
  display: flex;
}

.box {
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box p {
  font-size: 12px;
  margin-top: 5px;
}

.box button {
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box button:hover {
  background: rgba(0, 0, 0, 0.842);
}

.box i {
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}

.html {
  color: rgb(25, 94, 54);
}

.css {
  color: rgb(104, 179, 35);
}

.js {
  color: rgb(28, 98, 179);
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

/* Botões de navegação */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.card .card-image {
  width: 40%; /* Garante que a imagem ocupe toda a largura do card */
  height: 135px; /* Altura fixa para o card */
  overflow: hidden; /* Oculta qualquer parte da imagem que exceda as dimensões do card */
  margin: 0 auto;
}

.card .card-image img {
  max-width: 100%; /* Define a largura máxima da imagem como 100% do contêiner pai */
  height: auto; /* Garante que a altura seja ajustada automaticamente para manter a proporção */
  display: block; /* Garante que a imagem não tenha espaços em branco abaixo */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.card h3,
.card p {
  margin: 5px 0; /* Adiciona um pequeno espaçamento entre o texto e a imagem */
}

.course-box-calendar{
  width: 100%;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}



#calendar {
  max-width: 1100px;
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

form {
  max-width: 100%; /* Para garantir que o formulário não exceda a largura da course-box */
}

.course-box-cad {
  margin: 0 auto;
  padding: 20px; /* Adicione algum preenchimento interno para separar o formulário das bordas */
  border: 1px solid #ddd; /* Adicione uma borda para uma melhor visualização */
  width: 100%;
  height: 550px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"],
button {
  width: calc(100% - 16px); /* Leve em consideração o preenchimento interno (8px em cada lado) */
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#cart-form {
  max-width: 100%; /* Garante que o formulário não exceda a largura da course-box */
}



.label-v{
  display: block;
  margin-bottom: 10px;
  font-weight: bold; /* Deixa os rótulos em negrito */
}
select,
.input-v{
  width: calc(100% - 20px); /* Leva em consideração o preenchimento interno */
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px; /* Adiciona bordas arredondadas */
}

.btn-v{
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px; /* Adiciona bordas arredondadas */
  cursor: pointer;
}

.btn-v:hover{
  background-color: #45a049;
}

#cart-items {
  margin-top: 20px;
}

.cart-item {
  margin-bottom: 10px;
}

.cart-item span {
  font-weight: bold;
}

#total-compra {
  margin-top: 20px;
  margin-bottom: 30px; /* Adiciona margem inferior para separação dos botões */
  font-weight: bold;
}